<div class="container">
  <div class="row">
    <h1 class="mx-auto">
      Zkill Listener
    </h1>
  </div>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-raised btn-primary" (click)="start()" [disabled]="listening">Start Listening</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-raised btn-danger" (click)="stop()" [disabled]="!listening">Stop Listening</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-raised btn-success" (click)="clear()" [disabled]="mails.length === 0">Clear</button>
    </div>
    <div class="col-2">

    </div>
    <div class="col-2">

    </div>
    <div class="col-2">

    </div>
  </div>
  <div class="row" *ngFor="let mail of mails">
    <div class="card mail-info" style="width:100%;">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <img src="{{'https://imageserver.eveonline.com/Render/' + mail['victim']['ship_type_id'] + '_64.png'}}"
              style="padding-right: 1em;">
            <img src="{{'https://image.eveonline.com/Character/' + mail['victim']['character_id'] + '_64.jpg'}}" style="height: 64px; width: 64px;">
          </div>
          <div class="col-3">
            <div class="row">
              <b>Time: </b>{{ mail['killmail_time'] | date:'M/d/yy, H:mm':'+000' }}
            </div>
            <div class="row">
              <b>Name: </b>{{ mail['victim']['character_id'] | eve:'character' | async}}
            </div>
            <div class="row">
              <b>Ship: </b>{{ universe.getTypeName(mail['victim']['ship_type_id']) }}
            </div>
          </div>
          <div class="col-3">
            <div class="row" *ngIf="mail['victim']['alliance_id']">
              <img src="{{'https://image.eveonline.com/Alliance/' + mail['victim']['alliance_id'] + '_64.png'}}" style="height: 32px; width: 32px;">
              <p>{{ mail['victim']['alliance_id'] | eve:'alliance' | async }}</p>
            </div>
            <div class="row" *ngIf="!mail['victim']['alliance_id']">
              <p>No Alliance</p>
            </div>
            <div class="row">
              <img src="{{'https://image.eveonline.com/Corporation/'+ mail['victim']['corporation_id'] +'_64.png'}}"
                style="height: 32px; width: 32px;">
              {{mail['victim']['corporation_id'] | eve:'corporation' | async}}
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <b>System: </b>{{ universe.getSystemName(mail['solar_system_id'])}}
              [<p [ngStyle]="{'color': universe.getSecurityColor(universe.getSystemSecurity(mail['solar_system_id']))}">
                {{(universe.getSystemSecurity(mail['solar_system_id']) | slice:0:4)}}</p>]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
