<div class="container">
  <div class="row">
    <h1 class="mx-auto">
      Profile Syncer
    </h1>
  </div>
  <div class="row">
    <button type="button" class="btn btn-raised btn-primary mx-auto" (click)="selectFolder()">Select Folder</button>
    <button type="button" class="btn btn-raised btn-info mx-auto" (click)="parseProfiles()">Scan Profiles</button>
  </div>
  <div class="row current-directory" (click)="openProfilesFolder()">
    <b class="mx-auto">Current Profile Directory: {{ profilesPath || 'No folder selected.' }}</b>
  </div>
  <div *ngIf="profilesPath">
    <div class="row">
      <h4 class="mx-auto section-header">Accounts({{ accounts.length }})</h4>
    </div>
    <div class="row">
      <div class="col-3" *ngFor="let account of accounts">
        <div class="card" [class.bg-success]="account['selected'] === s.Primary" [class.bg-secondary]="account['selected'] === s.Secondary"
          (click)="select(account, s.Primary)" (contextmenu)="select(account, s.Secondary)">
          <div class="card-body">
            {{ account['id'] }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="mx-auto section-header">Characters({{ characters.length }})</h4>
    </div>
    <div class="row">
      <div class="col-3" *ngFor="let character of characters">
        <div class="card" [class.bg-success]="character['selected'] === s.Primary" [class.bg-secondary]="character['selected'] === s.Secondary"
          (click)="select(character, s.Primary)" (contextmenu)="select(character, s.Secondary)">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <img src="{{character['id'] | image:'character'}}" style="height: 64px; width: 64px;">
              </div>
              <div class="col-6">
                <p>{{ character['id'] }}</p>
                <p>{{ (character['id'] | eve:'character' | async)?.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>