.directory-buttons {
  margin-bottom: 2em;
}
.current-directory {
  cursor: pointer;
  font-size: 1em;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.section-header {
  margin-top: 1em;
}