<div #search
     class="search"
     (focusout)="hide($event)"
     (focusin)="suggestionsHidden = false">
  <div class="row">
    <input #searchBar
           class="form-control search-field"
           placeholder="Type here..."
           [(ngModel)]="searchValue"
           (input)="makeDirty()"
           (keydown)="onKeydown($event, true)">
  </div>
  <div class="row">
    <div class="list-group card card-body suggestion-list"
         [class.hidden]="suggestionsHidden"
         *ngIf="suggestions.length > 0"
         (keydown)="onKeydown($event, false)">
      <button class="suggestion-item list-group-item"
              [ngClass]="{'list-group-item-dark': i % 2 === 0}"
              [class.active]="i === activeIndex"
              (click)="updateSelection(i)"
              (dblclick)="onSubmit()"
              *ngFor="let suggestion of suggestions;index as i">{{suggestion}}</button>
    </div>
  </div>
</div>