<app-header [title]="'EVE Electron Tools'">
  <div class="row">
    <h5 class="mx-auto">Check out the tools available in the nav-bar above.</h5>
  </div>
</app-header>
<div class="container">
  <div class="row" *ngIf="!electron.isElectron;else in_electron">
    <p>You are running not running under Electron. Please download the Desktop client if you want to use any of the
      Electron-powered tools.</p>
  </div>
  <ng-template #in_electron>
    <div class="row">
      <p>You are running under Electron.</p>
    </div>
    <div class="row">
      <h3>Config Editor</h3>
    </div>
    <div class="row">
      <textarea #configText rows="20" [innerText]="config.getConfig()"></textarea>
    </div>
    <div class="row">
      <button type="button" class="btn btn-raised btn-primary" (click)="writeConfig(configText.value)">Write
        Config</button>
      <button type="button" class="btn btn-raised btn-success" (click)="config.readSettingsFile()">Read Config</button>
    </div>
  </ng-template>
</div>