<div class="container">
  <div class="row">
    <h1>EVE Electron Tools</h1>

  </div>
  <div class="row">
    <p>Check out the tools available so far in the nav-bar above.</p>
  </div>
  <div class="row" *ngIf="!electron.isElectron;else in_electron">
    <p>You are running under Electron.</p>
  </div>
  <ng-template #in_electron>
    <div class="row">
      <textarea #configText rows="20" [innerText]="config.getConfig()"></textarea>
    </div>
    <div class="row">
      <button type="button" class="btn btn-raised btn-primary" (click)="writeConfig(configText.value)">Write
        Config</button>
      <button type="button" class="btn btn-raised btn-success" (click)="config.readSettingsFile()">Read Config</button>
    </div>
  </ng-template>
</div>