<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EVE Electron Tools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" skipLocationChange>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/local-scan']" skipLocationChange>Local Scan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/market']" skipLocationChange>Market</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/zkill-listener']" skipLocationChange>Zkill Listener</a>
      </li>
      <li class="nav-item" *ngIf="electron.isElectron">
        <a class="nav-link" [routerLink]="['/profile-sync']" skipLocationChange>Profile Syncer</a>
      </li>
    </ul>
  </div>
</nav>