.button-row {
  margin-bottom: 1em;
}

.mail-info {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  cursor: pointer;
}

.image-icon {
  height: 2em;
  width: 2em;
}

.detail-row {
  padding-left: 0.5em;
}