<app-header [title]="'zKill Listener'">
  <div class="row">
    <h5 class="mx-auto"> Click on <kbd>Start Listening</kbd> to begin listening for new killmails from zKillboard. <kbd>Left-click</kbd>
      to view a mail on zKillboard. <kbd>Right-click</kbd> to delete a mail. You can enable filtering by Ship-type,
      Location, affiliation of those Involved, or by Value. Filtering on incoming mails can be done by matching against
      <b>ANY</b> filter, or matching against <b>ALL</b> filters, be careful when enabling Match-ALL when you have
      multiple filters that exclude each other.</h5>
  </div>
</app-header>
<div class="container">
  <!-- Top Button Row -->
  <div class="row button-row">
    <div class="col-4 col-lg-2">
      <button type="button"
              class="btn btn-raised btn-primary"
              (click)="start()"
              [disabled]="listening">Start Listening</button>
    </div>
    <div class="col-4 col-lg-2">
      <button type="button"
              class="btn btn-raised btn-danger"
              (click)="stop()"
              [disabled]="!listening">Stop Listening</button>
    </div>
    <div class="col-4 col-lg-2">
      <button type="button"
              class="btn btn-raised btn-success"
              (click)="clear()"
              [disabled]="mails.length === 0">Clear Results</button>
    </div>
    <div class="col-4 col-lg-2">
      <input type="list-length"
             class="form-control"
             [(ngModel)]="length">
      <small>Length of List</small>
    </div>
    <div class="col-4 col-lg-2">
      <div class="switch">
        <label>
          <input type="checkbox"
                 [(ngModel)]="checked.filters"><b>Enable Filters</b></label>
      </div>
    </div>
    <div class="col-4 col-lg-2">
      <div class="switch">
        <label>
          <input type="checkbox"
                 [(ngModel)]="checked.alerts"><b>Enable Alerts</b></label>
      </div>
    </div>
  </div>
  <!-- Filter Controls -->
  <div class="row button-row"
       [hidden]="!checked.filters">
    <div class="col-3 col-lg-2">
      <h5>Num. Filtered: {{numFiltered}}</h5>
    </div>
    <div class="col-3 col-lg-2">
      <select class="custom-select"
              #addFilterSelect>
        <option [value]="filterType.Ship">Ship</option>
        <option [value]="filterType.Location">Location</option>
        <option [value]="filterType.Involved">Involved</option>
        <option [value]="filterType.Value">Value</option>
      </select>
    </div>
    <div class="col-3 col-lg-2">
      <button type="button"
              class="btn btn-raised btn-success"
              (click)="addFilter(addFilterSelect.value)">Add Filter</button>
    </div>
    <div class="col-3 col-lg-2">
      <button type="button"
              class="btn btn-raised btn-info"
              (click)="checked.hideSettings = !checked.hideSettings"
              [disabled]="filters.length === 0">{{checked.hideSettings ? 'Show Filters' : 'Hide Filters'}}</button>
    </div>
    <div class="col-3 col-lg-2">
      <div class="switch">
        <label>
          <input type="checkbox"
                 [(ngModel)]="checked.matchAll"><b>{{checked.matchAll ? 'Match ALL filters' : 'Match ANY filter'}}</b></label>
      </div>
    </div>
  </div>
  <!-- Filter Settings -->
  <div *ngIf="checked.filters && !checked.hideSettings">
    <div class="card row"
         *ngFor="let filter of filters; index as i">
      <div class="col-12">
        <div class="card-header row">
          <div class="col-11">
            <h5>{{filter.type}} - {{filter.description.length === 0 ? 'None' : filter.description}} - <span [ngStyle]="{'color': filter.active ? 'green' : 'red'}">
                {{filter.active ? 'Active' : 'Inactive'}}</span></h5>
          </div>
          <div class="col-1">
            <button type="button"
                    class="btn btn-raised btn-danger float-right"
                    (click)="deleteFilter(i)">X</button>
          </div>
        </div>
        <!-- Ship Filter -->
        <div class="card-body row"
             *ngIf="filter.type === filterType.Ship">
          <div class="col-6 col-lg-2">
            <select class="custom-select"
                    [(ngModel)]="filter.whichType">
              <option [value]="whichType.Victim">Victim</option>
              <option [value]="whichType.Attacker">Attacker</option>
            </select>
          </div>
          <div class="col-6 col-lg-2">
            <select class="custom-select"
                    [(ngModel)]="filter.filterType">
              <option [value]="shipFilterType.Ship">Ship</option>
              <option [value]="shipFilterType.ShipGroup">Ship Group</option>
            </select>
          </div>
          <div class="col-8 col-lg-7">
            <app-search #shipFilterSearch
                        [placeholder]="'Search'"
                        [source]="getSource(filter.filterType)"
                        (submit)="onSubmitShip($event, i)"></app-search>
          </div>
          <div class="col-4 col-lg-1">
            <button type="button"
                    class="btn btn-raised btn-warning float-right"
                    [disabled]="!filter.active"
                    (click)="shipFilterSearch.clear();filter.active=false">Reset</button>
          </div>
        </div>
        <!-- Location Filter -->
        <div class="card-body row"
             *ngIf="filter.type === filterType.Location">
          <div class="col-6 col-lg-2">
            <select class="custom-select"
                    [(ngModel)]="filter.filterType">
              <option [value]="locationFilterType.System">System</option>
              <option [value]="locationFilterType.Region">Region</option>
            </select>
          </div>
          <div class="col-6 col-lg-2">
            <input #numJumpsInput
                   type="list-length"
                   class="form-control"
                   [disabled]="filter.filterType !== locationFilterType.System"
                   [value]="0">
            <small>Within # jumps</small>
          </div>
          <div class="col-8 col-lg-7">
            <app-search #locationFilterSearch
                        [placeholder]="'Search'"
                        [source]="getSource(filter.filterType)"
                        (submit)="onSubmitLocation($event, i, numJumpsInput.value)"></app-search>
          </div>
          <div class="col-4 col-lg-1">
            <button type="button"
                    class="btn btn-raised btn-warning float-right"
                    [disabled]="!filter.active"
                    (click)="locationFilterSearch.clear();filter.active=false">Reset</button>
          </div>
        </div>
        <!-- Involved Filter -->
        <div class="card-body row"
             *ngIf="filter.type === filterType.Involved">
          <div class="col-6 col-lg-2">
            <select class="custom-select"
                    [(ngModel)]="filter.whichType">
              <option [value]="whichType.Victim">Victim</option>
              <option [value]="whichType.Attacker">Attacker</option>
            </select>
          </div>
          <div class="col-6 col-lg-2">
            <select class="custom-select"
                    [(ngModel)]="filter.filterType">
              <option [value]="involvedFilterType.Character">Character</option>
              <option [value]="involvedFilterType.Corporation">Corporation</option>
              <option [value]="involvedFilterType.Alliance">Alliance</option>
            </select>
          </div>
          <div class="col-8 col-lg-7">
            <app-search #involvedFilterSearch
                        [placeholder]="'Search'"
                        [useSuggestions]="false"
                        (submit)="onSubmitInvolved($event, i)"></app-search>
          </div>
          <div class="col-4 col-lg-1">
            <button type="button"
                    class="btn btn-raised btn-warning float-right"
                    [disabled]="!filter.active"
                    (click)="involvedFilterSearch.clear();filter.active=false">Reset</button>
          </div>
        </div>
        <!-- Value Filter -->
        <div class="card-body row"
             *ngIf="filter.type === filterType.Value">
          <div class="col-4 col-lg-2">
            <input #valueInput
                   type="list-length"
                   class="form-control">
            <small>Greater than or Equal to</small>
          </div>
          <div class="col-4 col-lg-2">
            <button type="button"
                    class="btn btn-raised btn-info float-right"
                    (click)="onSubmitValue(valueInput.value, i)">Set Value</button>
          </div>
          <div class="col-4 col-lg-1">
            <button type="button"
                    class="btn btn-raised btn-warning float-right"
                    [disabled]="!filter.active"
                    (click)="valueInput.value=0;filter.active=false">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mails -->
  <div class="row"
       *ngFor="let mail of mails; let i = index">
    <div class="card mail-info"
         style="width:100%;"
         (click)="openLink(mail['zkb']['url'])"
         (contextmenu)="mails.pop(i)">
      <div class="card-body row">
        <!-- Mail Info -->
        <div class="col-12 col-lg-2">
          <div class="row detail-row float-right float-lg-none">
            <b>Time: </b>{{ mail['killmail_time'] | date:'M/d/yy, H:mm':'+000' }} </div>
          <div class="row detail-row">
            <b>System: </b>{{ mail['solar_system_id'] | universe:'system'}} <span> [<b [ngStyle]="{'color': universe.getSecurityColor(universe.getSystemSecurity(mail['solar_system_id']))}">{{mail['solar_system_id']
                | universe:'security' | slice:0:4}}</b>] </span>
          </div>
          <div class="row detail-row float-right float-lg-none">
            <b>Region: </b>{{ mail['solar_system_id'] | universe:'systemRegion' }} </div>
          <div class="row detail-row">
            <b>Value: </b>{{ mail['zkb']['totalValue'] | number }} ISK </div>
        </div>
        <!-- Victim Images -->
        <div class="col-3 col-lg-1">
          <img class="image"
               src="{{mail['victim']['character_id'] | image:'character'}}">
        </div>
        <div class="col-3 col-lg-1">
          <img class="image"
               src="{{mail['victim']['ship_type_id'] | image:'ship'}}">
        </div>
        <!-- Victim Info -->
        <div class="col-6 col-lg-3">
          <div class="row">
            <b>Defender: </b>{{ (mail['victim']['character_id'] | eve:'character' | async)?.name }} </div>
          <div class="row">
            <b>Ship: </b>{{ mail['victim']['ship_type_id'] | universe:'item' }} </div>
          <div class="row"
               *ngIf="mail['victim']['alliance_id']">
            <img src="{{mail['victim']['alliance_id'] | image:'alliance'}}"
                 class="image-icon">
            <p>{{ (mail['victim']['alliance_id'] | eve:'alliance' | async)?.name }}</p>
          </div>
          <div class="row"
               *ngIf="!mail['victim']['alliance_id']">
            <p>No Alliance</p>
          </div>
          <div class="row">
            <img src="{{mail['victim']['corporation_id'] | image:'corporation'}}"
                 class="image-icon"> {{ (mail['victim']['corporation_id'] | eve:'corporation' | async)?.name }} </div>
        </div>
        <!-- Attacker Images -->
        <div class="col-3 col-lg-1">
          <img class="image"
               src="{{mail['final_blow']['character_id'] | image:'character'}}">
        </div>
        <div class="col-3 col-lg-1">
          <img class="image"
               src="{{mail['final_blow']['ship_type_id'] | image:'ship'}}">
        </div>
        <!-- Attacker Info -->
        <div class="col-6 col-lg-3">
          <div class="row">
            <b>Attacker: </b>{{(mail['final_blow']['character_id'] | eve:'character' | async)?.name}} ({{
            mail['zkb']['npc'] ? 'NPC' : mail['attackers'].length }}) </div>
          <div class="row">
            <b>Ship: </b>{{mail['final_blow']['ship_type_id'] | universe:'item'}} </div>
          <div class="row"
               *ngIf="mail['final_blow']['alliance_id']">
            <img class="image-icon"
                 src="{{mail['final_blow']['alliance_id'] | image:'alliance'}}">
            <p>{{(mail['final_blow']['alliance_id'] | eve:'alliance' | async)?.name}}</p>
          </div>
          <div class="row"
               *ngIf="!mail['final_blow']['alliance_id']">
            <p>No Alliance</p>
          </div>
          <div class="row">
            <img class="image-icon"
                 src="{{mail['final_blow']['corporation_id'] | image:'corporation'}}">{{
            (mail['final_blow']['corporation_id'] | eve:'corporation' | async)?.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>