<app-header [title]="'zKill Listener'">
  <div class="row">
    <h5 class="mx-auto"> Click on Start Listening to begin listening for new killmails from zKillboard. <kbd>Left-click</kbd>
      to view a mail on zKillboard. <kbd>Right-click</kbd> to delete a mail. </h5>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-2">
      <button type="button"
              class="btn btn-raised btn-primary"
              (click)="start()"
              [disabled]="listening">Start Listening</button>
    </div>
    <div class="col-2">
      <button type="button"
              class="btn btn-raised btn-danger"
              (click)="stop()"
              [disabled]="!listening">Stop Listening</button>
    </div>
    <div class="col-1">
      <button type="button"
              class="btn btn-raised btn-success"
              (click)="clear()"
              [disabled]="mails.length === 0">Clear</button>
    </div>
    <div class="col-1">
      <button type="button"
              class="btn btn-raised btn-info"
              (click)="filtersHidden = !filtersHidden"
              [disabled]="!shipChecked && !locationChecked && !involvedChecked">{{filtersHidden ? 'Show' : 'Hide'}}</button>
    </div>
    <!-- Filter toggles -->
    <div class="col-2">
      <div class="custom-control custom-checkbox">
        <input type="checkbox"
               class="custom-control-input"
               [(ngModel)]="shipChecked"
               id="shipCheck">
        <label class="custom-control-label"
               for="shipCheck">Filter by Ship</label>
      </div>
    </div>
    <div class="col-2">
      <div class="custom-control custom-checkbox">
        <input type="checkbox"
               class="custom-control-input"
               [(ngModel)]="locationChecked"
               id="locationCheck">
        <label class="custom-control-label"
               for="locationCheck">Filter by Location</label>
      </div>
    </div>
    <div class="col-2">
      <div class="custom-control custom-checkbox">
        <input type="checkbox"
               class="custom-control-input"
               [(ngModel)]="involvedChecked"
               id="involvedCheck">
        <label class="custom-control-label"
               for="involvedCheck">Filter by Involved</label>
      </div>
    </div>
  </div>
  <div *ngIf="!filtersHidden">
    <!-- Ship Filter -->
    <div class="card row"
         *ngIf="shipChecked">
      <h5 class="card-header">Ship</h5>
      <div class="card-body row">
        <div class="col-2">
          <select class="custom-select"
                  id="shipWhichType">
            <option value="victim"
                    selected>Victim</option>
            <option value="attacker">Attacker</option>
          </select>
        </div>
        <div class="col-2">
          <select class="custom-select"
                  id="shipFilterType">
            <option value="ship"
                    selected>Ship</option>
            <option value="group">Ship Group</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Location Filter -->
    <div class="card row"
         *ngIf="locationChecked">
      <h5 class="card-header">Location</h5>
      <div class="card-body row">
        <div class="col-2">
          <select class="custom-select"
                  id="locationFilterType">
            <option value="region"
                    selected>Region</option>
            <option value="system">System</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Involved Filter -->
    <div class="card row"
         *ngIf="involvedChecked">
      <h5 class="card-header">Involved</h5>
      <div class="card-body row">
        <div class="col-2">
          <select class="custom-select"
                  id="involvedWhichType">
            <option value="victim"
                    selected>Victim</option>
            <option value="attacker">Attacker</option>
          </select>
        </div>
        <div class="col-2">
          <select class="custom-select"
                  id="involvedFilterType">
            <option value="character"
                    selected>Character</option>
            <option value="corporation">Corporation</option>
            <option value="alliance">Alliance</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- Mails -->
  <div class="row"
       *ngFor="let mail of mails; let i = index">
    <div class="card mail-info"
         style="width:100%;"
         (click)="openLink(mail['zkb']['url'])"
         (contextmenu)="mails.pop(i)">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <div class="row detail-row">
              <b>Time: </b>{{ mail['killmail_time'] | date:'M/d/yy, H:mm':'+000' }} </div>
            <div class="row detail-row">
              <b>System: </b>{{ universe.getSystemName(mail['solar_system_id'])}} <span>[<b [ngStyle]="{'color': universe.getSecurityColor(universe.getSystemSecurity(mail['solar_system_id']))}">{{(universe.getSystemSecurity(mail['solar_system_id'])
                  | slice:0:4)}}</b>]</span>
            </div>
            <div class="row detail-row">
              <b>Region: </b>{{ universe.getSystemRegionName(mail['solar_system_id']) }} </div>
            <div class="row detail-row">
              <b>Value: </b>{{ mail['zkb']['totalValue'] | number }} ISK </div>
          </div>
          <div class="col-1">
            <img class="image"
                 src="{{mail['victim']['character_id'] | image:'character'}}">
          </div>
          <div class="col-1">
            <img class="image"
                 src="{{mail['victim']['ship_type_id'] | image:'ship'}}">
          </div>
          <div class="col-3">
            <div class="row">
              <b>Defender: </b>{{ (mail['victim']['character_id'] | eve:'character' | async)?.name }} </div>
            <div class="row">
              <b>Ship: </b>{{ universe.getTypeName(mail['victim']['ship_type_id']) }} </div>
            <div class="row"
                 *ngIf="mail['victim']['alliance_id']">
              <img src="{{mail['victim']['alliance_id'] | image:'alliance'}}"
                   class="image-icon">
              <p>{{ (mail['victim']['alliance_id'] | eve:'alliance' | async)?.name }}</p>
            </div>
            <div class="row"
                 *ngIf="!mail['victim']['alliance_id']">
              <p>No Alliance</p>
            </div>
            <div class="row">
              <img src="{{mail['victim']['corporation_id'] | image:'corporation'}}"
                   class="image-icon"> {{ (mail['victim']['corporation_id'] | eve:'corporation' | async)?.name }} </div>
          </div>
          <div class="col-1">
            <img class="image"
                 src="{{mail['final_blow']['character_id'] | image:'character'}}">
          </div>
          <div class="col-1">
            <img class="image"
                 src="{{mail['final_blow']['ship_type_id'] | image:'ship'}}">
          </div>
          <div class="col-3">
            <div class="row">
              <b>Attacker: </b>{{ (mail['final_blow']['character_id'] | eve:'character' | async)?.name }} ({{
              mail['zkb']['npc'] ? 'NPC' : mail['attackers'].length }}) </div>
            <div class="row">
              <b>Ship: </b>{{ universe.getTypeName(mail['final_blow']['ship_type_id']) }} </div>
            <div class="row"
                 *ngIf="mail['final_blow']['alliance_id']">
              <img class="image-icon"
                   src="{{mail['final_blow']['alliance_id'] | image:'alliance'}}">
              <p>{{ (mail['final_blow']['alliance_id'] | eve:'alliance' | async)?.name }}</p>
            </div>
            <div class="row"
                 *ngIf="!mail['final_blow']['alliance_id']">
              <p>No Alliance</p>
            </div>
            <div class="row">
              <img class="image-icon"
                   src="{{mail['final_blow']['corporation_id'] | image:'corporation'}}"> {{
              (mail['final_blow']['corporation_id'] | eve:'corporation' | async)?.name }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>