<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label>Paste local here.</label>
      <textarea type=" text "></textarea>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label>Corporations</label>
      <div class="local-area"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label>Alliances</label>
      <div class="local-area"></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-4 ">
      <button class="btn btn-primary btn-block ">Scan</button>
    </div>
  </div>
</div>
