textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.local-area {
  border: 1px solid black;
  width: 100%;
  height: 500px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.display-item {
  border-bottom: 1px solid black;
}
