<div class="container">
  <div class="row">
    <h1 class="mx-auto">
      Local Scan
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label>Local Scan</label>
      <textarea #localInput type="text" rows="20" [placeholder]="'Paste Local Scan here.'">
Chribba
The Mittani
The Judge
Vile Rat
Grath Telkin
Shadoo
Elise Randolph
      </textarea>
      <button class="btn btn-raised btn-primary btn-block" (click)="onSubmit(localInput.value)" [disabled]="local.busy">Scan</button>
      <button class="btn btn-raised btn-danger btn-block" (click)="resetView()">Reset</button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label>Corporations: {{ getDisplayCorporations().length }}</label>
      <div class="local-area container">
        <div class="row display-item" *ngFor="let corp of getDisplayCorporations()" [class.bg-success]="corp.highlighted"
          (mouseenter)="highlightCorporation(corp)" (mouseleave)="resetHighlight()">
          <div class="col-3">
            <img [src]="corp.corporation.image">
          </div>
          <div class="col-7">
            {{corp.corporation.name}}
          </div>
          <div class="col-2">
            {{corp.count}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <label>Alliances: {{ getDisplayAlliances().length }}</label>
      <div class="local-area container">
        <div class="row display-item" *ngFor="let alliance of getDisplayAlliances()" [class.bg-success]="alliance.highlighted"
          (mouseenter)="highlightAlliance(alliance)" (mouseleave)="resetHighlight()">
          <div class="col-3">
            <img [src]="alliance.alliance.image">
          </div>
          <div class="col-7">
            {{alliance.alliance.name}}
          </div>
          <div class="col-2">
            {{alliance.count}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>