.suggestion-item:hover {
  font-weight: bold;
}

.suggestion-item.active {
  font-weight: bold;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  width: 100% !important;
  margin: 0px !important;
}