<app-header [title]="'Market Browser'">
  <div class="row">
    <h5 class="mx-auto">
      Work In Progress.
    </h5>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-6" (keydown)="onKeydown($event)">
      <div class="row">
        <div class="col-10">
          <input #searchBar class="form-control" placeholder="Type here..." [(ngModel)]="searchValue" (input)="makeDirty()">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-raised btn-primary" (click)="onSubmit()" [disabled]="dirty || items.length === 0">Submit</button>
        </div>
      </div>
      <div class="list-group">
        <button *ngFor="let item of items;index as i" class="suggestion-item list-group-item list-group-item-light"
          [class.active]="i === activeIndex" (click)="activate(i)" tabindex="-1">{{item}}</button>
      </div>
    </div>
    <div class="col-6">
      {{activeIndex}}
    </div>
  </div>
</div>