<app-header [title]="'Market Browser'">
  <div class="row">
    <h5 class="mx-auto">Type in the name of the item you want to look up prices for, for example "Vexor Navy Issue" or
      "Ishtar", and press either <kbd>Enter</kbd> or press <kbd>Select</kbd> to select it. You can also navigate
      through the suggestions below the search-bar using <kbd>Up, Down, Tab</kbd>. You can clear the search-bar by
      pressing <kbd>Esc</kbd>.</h5>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h5>Current Item: <b>{{currItem | universe:'item'}}</b></h5>
      <app-search [placeholder]="'Search for an item here...'"
                  [source]="suggest.typeNames"
                  (submit)="onSubmitItem($event)"></app-search>
    </div>
    <div class="col-12 col-lg-6">
      <h5>Current Region: <b>{{currRegion | universe:'region'}}</b></h5>
      <app-search [placeholder]="'Select a market region here...'"
                  [source]="suggest.regionNames"
                  (submit)="onSubmitRegion($event)"></app-search>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-10">
        <h1>{{currItem | universe:'item'}}</h1>
        <p><b>{{currItem | universe:'groupID' | universe:'group'}}</b></p>
        <small [innerHTML]="(currItem | eve:'type' | async)?.description"></small>
      </div>
      <div class="col-2">
        <img class="image"
             src="{{currItem | image:'ship':128}}">
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-12 col-lg-6 buy-column">
        <h5>
          <p class="display-4 text-center">Buy</p>
          <p><b>Max: <span class="price">{{currPrice?.buy?.max | number}} ISK</span></b></p>
          <p>Min: <span class="price">{{currPrice?.buy?.min | number}} ISK</span></p>
          <p>Avg: <span class="price">{{currPrice?.buy?.avg | number}} ISK</span></p>
          <p>Quantity: {{currPrice?.buy?.quantity | number}}</p>
        </h5>
      </div>
      <div class="col-12 col-lg-6 sell-column">
        <h5>
          <p class="display-4 text-center">Sell</p>
          <p>Max: <span class="price">{{currPrice?.sell?.max | number}} ISK</span></p>
          <p><b>Min: <span class="price">{{currPrice?.sell?.min | number}} ISK</span></b></p>
          <p>Avg: <span class="price">{{currPrice?.sell?.avg | number}} ISK</span></p>
          <p>Quantity: {{currPrice?.sell?.quantity | number}}</p>
        </h5>
      </div>
    </div>
  </div>
</div>