<app-header [title]="'VNI Companion'">
  <div class="row">
    <h5 class="mx-auto">Work In Progress.</h5>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-10"><b>Current Log Directory: {{logsPath || 'None'}}</b></div>
    <div class="col-2">
      <button type="button"
              class="btn btn-raised btn-primary mx-auto"
              (click)="selectLogsFolder()">Select Folder</button>
    </div>
  </div>
  <div class="row content-section">
    <div class="col-7">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Characters[{{characters.length}}]</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="switch">
            <label>
              <input type="checkbox"
                     [(ngModel)]="checked.faction"><b>Alert on Faction spawn</b></label>
          </div>
        </div>
        <div class="col-4">
          <div class="switch">
            <label>
              <input type="checkbox"
                     [(ngModel)]="checked.capital"><b>Alert on Capital spawn</b></label>
          </div>
        </div>
        <div class="col-4">
          <div class="switch">
            <label>
              <input type="checkbox"
                     [(ngModel)]="checked.inactivity"><b>Alert on Inactivity</b></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h5>Total ISK: {{totalIsk | number}} ISK</h5>
        </div>
        <div class="col-4">
          <button type="button"
                  class="btn btn-raised btn-info mx-auto"
                  [class.btn-info]="gameLogWatcher == null"
                  [class.btn-warning]="gameLogWatcher!=null"
                  (click)="toggleGameLogsListener()">{{gameLogWatcher == null ? 'Start Listening' : 'Stop Listening'}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4"
             *ngFor="let character of characters">
          <div class="card">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-8">
                  <img style="height: 64px; width: 64px;"
                       src="{{character['id'] | image:'character'}}">
                </div>
                <div class="col-8">
                  <p><b>{{character.name}}</b></p>
                  <p *ngIf="config.debug">{{character.fileName}}</p>
                </div>
              </div>
              <div class="row">Revenue: {{character.isk | number}} ISK</div>
              <div class="row">Per hour: {{(character.isk / character.time) * 1440 | number}} ISK</div>
              <div class="row">Last active: {{character.time - character.lastActive}}s ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Intel</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h5>Current System: {{watchedSystem | universe:'system'}}</h5>
        </div>
        <div class="col-4">
          <button type="button"
                  class="btn btn-raised btn-info"
                  [class.btn-info]="chatLogWatcher == null"
                  [class.btn-warning]="chatLogWatcher!=null"
                  [disabled]="watchedSystem===-1 || channels.length === 0"
                  (click)="toggleChatLogsListener()">{{chatLogWatcher == null ? 'Watch Intel' : 'Stop Watching'}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-search [placeholder]="'Search for a system here...'"
                      [source]="suggest.systemNames"
                      (submit)="systemSelect($event)"></app-search>
        </div>
      </div>
      <div class="row content-section">
        <div class="col-12">
          <h5><b>Options</b></h5>
        </div>
        <div class="col-8">
          <input [(ngModel)]="numJumps"
                 type="intel"
                 class="form-control">
          <small># of Jumps from Current System</small>
        </div>
        <div class="col-4">
          <div class="switch">
            <label>
              <input type="checkbox"
                     [(ngModel)]="checked.matchExact"><b>Match Name Exactly</b></label>
          </div>
        </div>
      </div>
      <div class="row content-section">
        <div class="col-12">
          <h5><b>Watched Channels</b></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-11">
          <input #intelChannel
                 type="intel"
                 class="form-control">
          <small>Name of Intel Channel</small>
        </div>
        <div class="col-1">
          <button type="button"
                  class="btn btn-raised btn-success"
                  (click)="addChannel(intelChannel.value)">+</button>
        </div>
      </div>
      <div class="card"
           *ngFor="let channel of channels; let i = index">
        <div class="row">
          <div class="col-9">
            <h5 class="text-center">{{channel}}</h5>
          </div>
          <div class="col-3">
            <button type="button"
                    class="btn btn-raised btn-danger float-right"
                    (click)="removeChannel(i)">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Event Log</h3>
    </div>
  </div>
</div>