<app-header [title]="'EVE Electron Tools'">
  <div class="row justify-content-center">
    <h5 class="mx-auto">
      <p>Check out the tools available in the nav-bar above.</p>
      <p>Enabling Demo Mode will load demo values in all tools on load.</p>
    </h5>
  </div>
  <div class="row">
    <label class="btn btn-raised btn-warning btn-lg mx-auto" (click)="toggleDemo($event)">
      <input type="checkbox" [checked]="config.isDemo()"> Demo Mode
    </label>
  </div>
  <div class="row" *ngIf="!electron.isElectron">
    <p class="mx-auto">
      You are running not running under Electron. Please download the Desktop client if you want to use any of the
      Electron-powered tools.
    </p>
  </div>
</app-header>
<div class="container" *ngIf="electron.isElectron">
  <div class="row">
    <h5>You are running under Electron.</h5>
  </div>
  <div class="row">
    <h3>Config Editor</h3>
  </div>
  <div class="row">
    <textarea rows="20" [(ngModel)]="configText"></textarea>
  </div>
  <div class="row">
    <button type="button" class="btn btn-raised btn-primary" (click)="writeConfig(configText)">Write
      Config</button>
    <button type="button" class="btn btn-raised btn-success" (click)="readConfig()">Read Config</button>
  </div>
</div>