<app-header [title]="'Navigation'">
  <div class="row">
    <h5 class="mx-auto">Quickly reference the distance between two systems in LightYears by selecting them in the two
      search-bars below. You can also find the best route between them with a preference for shorter, safer, or less
      secure routes.</h5>
  </div>
</app-header>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h5>Selected System: {{systemA | universe:'system'}}({{systemA | universe:'systemRegion'}})</h5>
    </div>
    <div class="col-12 col-lg-6">
      <h5>Selected System: {{systemB | universe:'system'}}({{systemB | universe:'systemRegion'}})</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-search [placeholder]="'Search for an item here...'"
                  [source]="suggest.systemNames"
                  [searchValue]="config.isDemo ? 'Jita' : ''"
                  [searchDelay]="50"
                  (submit)="onSearch($event, 0)"></app-search>
    </div>
    <div class="col-12 col-lg-6">
      <app-search [placeholder]="'Search for an item here...'"
                  [source]="suggest.systemNames"
                  [searchValue]="config.isDemo ? 'Hakonen' : ''"
                  [searchDelay]="50"
                  (submit)="onSearch($event, 1)"></app-search>
    </div>
  </div>
  <div class="row button-row justify-content-center">
    <h5>Jump Distance: {{currDistance ? currDistance : 'N/A'}}</h5>
  </div>
  <div class="row button-row justify-content-center">
    <div class="col-3">
      <div class="radio">
        <label>
          <input type="radio"
                 name="optionsRadios"
                 [(ngModel)]="routePreference"
                 value="shorter"
                 routePreference><b>Prefer Shorter</b></label>
      </div>
      <div class="radio">
        <label>
          <input type="radio"
                 name="optionsRadios"
                 [(ngModel)]="routePreference"
                 value="safer"><b>Prefer Safer</b></label>
      </div>
      <div class="radio">
        <label>
          <input type="radio"
                 name="optionsRadios"
                 [(ngModel)]="routePreference"
                 value="lessSecure"><b>Prefer Less Secure</b></label>
      </div>
    </div>
    <div class="col-2">
      <button type="button"
              class="btn btn-raised btn-success"
              [disabled]="systemA==null || systemB==null"
              (click)="getRoute()">Get Route</button>
    </div>
    <div class="col-2">
      <button type="button"
              class="btn btn-raised btn-warning"
              [disabled]="systemA==null && systemB==null"
              (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="row"
       *ngIf="currRoute.length > 0">
    <h5 class="mx-auto">
      <p>{{currRoute.length}} systems in the route.</p>
      <p *ngFor="let system of currRoute">{{system | universe:'system'}} ({{system | universe:'systemRegion'}}) [<span
              [ngStyle]="{'color': universe.getSecurityColor(universe.getSystemSecurity(system))}">{{system |
          universe:'security' | slice:0:4}}</span>]</p>
    </h5>
  </div>
</div>